/* COLOR PALETTE */
:root {
    --background: white;
    --clr1: #40DFEF;
    --clr2: #fffdf1;
    --clr3: #B9F8D3;
    --clr4: darken($clr3, 40%);
    --clr5: #7f9199;
    --clr6: #E78EA9;
    --clr7: #202020;
    --clr8: #faf75f;
}

