.score-dashboard-container {
    min-height: calc(100vh - 75px); 
    direction: rtl;
    margin-inline-start: 20px;
    margin-inline-end: 20px;
    max-width: 100%;
    align-items: center;
    justify-content: center;
}

.score-dashboard-container h1 {
    margin: 5px 0 0 0;
}

.score-table {
    background: unset;
    border: 1px solid grey;
    width: 100%;
    color: rgb(51, 51, 51);
    font-family: varela;
    margin-top: 25px;
}

.score-table-header th {
    text-align: center;
    padding: 5px;
    font-weight: bold;
    border: 1px solid grey;
}

.score-table-body .score-td {
    padding: 5px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid grey;
}

.high-score-board-recap {
    justify-content: space-between;
    gap: 5px;
}

.total-gamers,
.high-score,
.high-score-gamer {
    margin-top: 10px;
    color: grey;
}

.gamers-info {
    margin-bottom: 0;
    text-align: center;
    font-size: 1em;
}

.gamers-info-details {
    text-align: center;
    font-size: 1.5em;
    color: var(--clr1);
    font-weight: bold;
}
