.score-dashboard-container {
    direction: rtl;
    padding-top: 50px;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
    min-height: calc(100vh - 95px);
    /* width: 100%; */
}

.score-table {
    background: unset;
    border: 1px solid grey;
    width: 100%;
    color: rgb(51, 51, 51);
    font-family: varela;
    margin-top: 50px;
}

.score-table-header th {
    text-align: center;
    padding: 10px 0;
    font-weight: bold;
    font-size: 20px;
    border: 1px solid grey;
    max-width: 40px;
}

.score-table-body .score-td {
    padding: 10px 0;
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
    border: 1px solid grey;
    max-width: 40px;
}

.high-score-board-recap {
    justify-content: space-between;

}

.total-gamers,
.high-score,
.high-score-gamer {
    margin-top: 50px;
    color: grey;
}


.gamers-info {
    margin-bottom: 10px;
    /* padding: 30px; */
    text-align: center;
    font-size: 24px;
    /* padding: 10px; */
}

.gamers-info-details {
    margin-bottom: 10px;
    text-align: center;
    font-size: 28px;
    padding: 10px;
    color: var(--clr1);
    font-weight: bold;
}
