.more-info-bar {
    direction: rtl;
    background-color: white;
    max-width: 100%;
    color: black;
    max-width: 100%;
    padding: 10px 20px;
    align-items: center;
    justify-content: center;
    box-shadow: 0.1px 0 2px grey;
    transition: all 0.8s ease;
    min-height: calc(100vh - 75px); 
}

.more-info-bar h1 {
    font-size: 0.7em;
    margin: 10px 0 0 0;
}

.more-info-bar .more-info-list-item {
    font-size: 0.5em;
    margin-top: 10px;
    line-height: 1.2em;
}

.more-info-bar.open {
    bottom: 75px;
}

.more-info-bar .more-info-header {
    font-size: 0.7em;
    text-align: center;
    direction: rtl;
    margin-top: 30px;
    font-weight: bolder;
    border-bottom: 2px solid black;
}

.more-info-list-item {
    text-align: right;
    direction: rtl;
    /* margin-top: 10px; */
    font-size: 1em;
    /* line-height: 1.3em; */
}

.more-info-btn-container {
    margin-bottom: 10px !important;
    margin-top: 10px;
    /* gap: 10px; */
    width: 100%;
    justify-content: space-between;
}

.more-info-btn {
    direction: rtl;
    background-color: var(--clr1);
    padding: 0.5rem 1.25rem;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 0.6em;
    cursor: pointer;
    /* margin-top: 10px; */
}

.more-info-btn a {
    color: white;
    font-size: 1.5em;
    cursor: pointer;
    font-family: varela;
    font-weight: bold;
    text-decoration: none;
}

.more-info-btn a:hover {
    background-color: var(--clr1);
    color: white;
    cursor: pointer;
}

.more-info-btn:hover {
    background-color: var(--clr1);
    color: white;
    cursor: pointer;
}