.game-over-container {
    position: relative;
    min-height: calc(100vh - 95px);
    justify-content: center;
    align-items: center;
    width: 100%;
}

.map-homepage {
    object-fit: cover;
}

.map {
    width: 100%;
}

.game-over-continue {
    position: absolute;
    bottom: 25%;
    background-color: var(--clr1);
    color: white;
    width: 17.5rem;
    padding: 1rem 1.25rem;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 1.5em;
    cursor: pointer;
}

.game-over-continue a {
    color: white;
    font-size: 1.5em;
    cursor: pointer;
    font-family: varela;
    font-weight: bold;
    text-decoration: none;
}

.game-over-continue a:hover {
    background-color: var(--clr8);
    color: black;
    cursor: pointer;
}

.game-over-continue:hover {
    background-color: var(--clr8);
    color: black;
    cursor: pointer;
}

.game-over-msg-container {
    position: absolute;
    bottom: 50%;
    background-color: var(--clr1);
    background-color: white;
    width: 27.5rem;
    padding: 1rem 1.25rem;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 1.5em;
    color: black;
    cursor: pointer;
}

.game-over-msg-container h1 {
    font-size: 2em;
    color: black;
}