.app-homepage {
    height: 100vh;
    /* min-height: calc(100vh - 95px);  */
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* margin: 0; */
    /* object-fit: contain; */
}

.map {
    aspect-ratio: 1 / 2.4;
    width: 100%;
    /* min-height: calc(100vh - 95px);  */
    min-height: calc(100vh - 95px); 
    position: absolute;
    top: 0;
    left: 0;
}

.logo {
    max-width: 18rem;
    position: absolute;
}

.start-game {
    position: absolute;
    bottom: 25%;
    background-color: var(--clr1);
    color: white;
    width: 17.5rem;
    padding: 1rem 1.25rem;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 1.5em;
    cursor: pointer;
}

.start-game a {
    color: white;
    font-size: 1.5em;
    cursor: pointer;
    font-family: varela;
    font-weight: bold;
    text-decoration: none;
}

.start-game a:hover {
    background-color: var(--clr8);
    color: black;
    cursor: pointer;
}

.start-game:hover {
    background-color: var(--clr8);
    color: black;
    cursor: pointer;
}